.menu-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 15px;
  width: 30%;
  border: 0;
  background: #e27eff;
  color: #4d0070;
  text-transform: uppercase;
  font-family: Lobster;
  font-weight: lighter;
  font-size: 3vh;
  transition: 0.4s all;

  &:hover{
    box-shadow: 0px 0px 15px #4a004e;
  }

}


h1, h2, h3{
  display: block;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  font-family: Lobster;
  padding: 1vh;
  font-weight: lighter;
  letter-spacing: 2px;
  text-shadow: 1px 1px 10px #ffffff;

  h1{
    font-size: 6vh;
  }
  h2{
    font-size: 4vh;
  }
  h3{
    font-size: 3vh;
  }
}

