h1, h2, h3{
  display: block;
  color: #1d1d1d;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  font-family: Lobster;
  padding: 1vh;
  font-weight: lighter;
  letter-spacing: 2px;

  h1{
    font-size: 6vh;
  }
  h2{
    font-size: 5vh;
  }
  h3{
    font-size: 4vh;
  }
}
