<section class="menu">
  <div class="middle-container">
    <button class="menu-button" (click)="getPizza()">Pizza</button>
    <button class="menu-button" (click)="getPasta()">Makarony</button>
    <button class="menu-button" (click)="getDrink()">Napoje</button>
  </div>


  <div class="container" *ngFor="let m of menu">
    <ul routerLinkActive="active" >
      <li class="left-container"><a class="dishcontainer">{{m.name}}</a></li>
      <li class="right-container"><a class="dishcontainer">{{m.price | number: '1.2-2'}}zł</a></li>
    </ul>

    <ul routerLinkActive="active" >
      <li class="left-container"><a class="descriptioncontainer">{{m.description}}</a></li>
    </ul>
    <br>
  </div>
</section>

