h1{
  display: block;
  color: #272727;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-family: Pacifico, serif;
  padding: 1vh;
  font-weight: lighter;
  display: inline;
  font-size: 5vh;
}

h2{
  display: block;
  color: #272727;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-family: Pacifico, serif;
  padding: 1vh;
  font-weight: lighter;
  display: inline;
  font-size: 4vh;
}

h3{
  display: block;
  color: #272727;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-family: Pacifico, serif;
  text-decoration: none;
  font-weight: lighter;
  display: inline;
  font-size: 2vh;
}

.menu-button {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 10px;
  border-radius: 15px;
  border: 0;
  background: #e27eff;
  color: #4d0070;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 5px;
  font-weight: lighter;
  font-size: 3vh;
  transition: 0.4s all;

  &:hover{
    box-shadow: 0px 0px 15px #4a004e;
  }
}

.minus-button {
  border-radius: 15px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  color: #ff0078;
  width: 2vw;
  font-family: 'Kanit', sans-serif;
  font-weight: lighter;
  font-size: 3vh;
  transition: 0.4s all;

  &:hover{
    text-shadow: 0px 0px 5px #ff0004;
  }
}
