<nav class="main-navbar">
  <div class="container">
    <ul routerLinkActive="active">

      <img class="navi-icon" src="./assets/logo.png" routerLink="home">
      <li class="left-container"><a class="navi-link" routerLink="home">{{title}}</a></li>
      <li class="left-container"><a class="navi-link" routerLink="menu">Lista Dań</a></li>
      <li class="left-container"><a class="navi-link" routerLink="order">Zamówienia</a></li>
      <li class="right-container">
        <img id="loginIcon" src="./assets/login.png" routerLink="login">
      </li>
    </ul>
  </div>
</nav>


<div class="row">
  <div class="column" id="leftColumn">



  </div>
  <div class="column" id="rightColumn">
    <router-outlet></router-outlet>
  </div>
</div>





