<nav class="main-navbar">
  <div class="container">
    <ul routerLinkActive="active">

      <img class="navi-icon" src="./assets/logo.png" routerLink="home">
      <li class="left-container"><a class="navi-link" routerLink="home">{{title}}</a></li>
      <li class="left-container"><a class="navi-link" routerLink="menu">Lista Dań</a></li>
      <li *ngIf="loginService.isLogged() == true" class="left-container"><a class="navi-link" routerLink="orders">Zamówienia</a></li>
      <li *ngIf="loginService.isLogged() == false" class="right-container">
        <img id="loginIcon" src="./assets/login.png" routerLink="login">
      </li>
      <li *ngIf="loginService.isLogged() == true" class="right-container">
        <img id="logoutIcon" src="./assets/logout.png" (click)="loginService.logout()" routerLink="home">
      </li>
      <li *ngIf="loginService.isLogged() == true" class="right-container">
        <a class="navi-link">Witaj {{loginService.userName}}</a>
      </li>
    </ul>
  </div>
</nav>


<div class="row">
  <div class="column" id="leftColumn">
    <app-cart></app-cart>
  </div>
  <div class="column" id="rightColumn">
    <router-outlet></router-outlet>
  </div>
</div>





