* {
  margin: 10px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #8d00b4;
  margin: 0;
}
.middle-container {
  display: flex;
  justify-content: space-between;
}

.left-container {
  float: left;
  margin-left: 10px;
}

.right-container {
  float: right;
  margin-left: 10px;
}

.dishcontainer {
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 3vh;
  height: 3vh;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  font-family: Lobster;
  letter-spacing: 2px;
  &:hover{
    text-shadow: 2px 2px 15px #ff1600;
  }
}

.descriptioncontainer {
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 2vh;
  height: 2vh;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  font-family: Lobster;
  letter-spacing: 3px;
}


.menu-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 15px;
  width: 30%;
  border: 0;
  background: #e27eff;
  color: #4d0070;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  font-weight: lighter;
  font-size: 3vh;
  letter-spacing: 5px;
  transition: 0.4s all;

  &:hover{
    box-shadow: 0px 0px 15px #4a004e;
  }

}

.plus-button {
  border-radius: 15px;
  border: 0;
  background: rgba(226, 126, 255, 0.3);
  color: #5bff7e;
  width: 2vw;
  font-family: 'Kanit', sans-serif;
  font-weight: lighter;
  font-size: 3vh;
  transition: 0.4s all;

  &:hover{
    box-shadow: 0px 0px 15px #ff00ba;
    text-shadow: 0px 0px 5px #00ff05;
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.onoffswitch {
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 17px;
  padding: 0;
  line-height: 17px;
  border: 2px solid #E3E3E3;
  border-radius: 17px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 17px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 21px;
  border: 2px solid #E3E3E3;
  border-radius: 17px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #49E845;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #49E845;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

h2{
  display: block;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  font-family: Lobster;
  font-weight: lighter;
  font-size: 1.5vh;
  text-shadow: 1px 1px 5px #ffa8ca;
}
