
.menu-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 15px;
  border: 0;
  background: #e27eff;
  color: #4d0070;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 5px;
  font-weight: lighter;
  font-size: 3vh;
  font-size: 3vh;
  transition: 0.4s all;

  &:hover{
    box-shadow: 0px 0px 15px #4a004e;
  }
}


h1, h2, h3{
  display: block;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  font-family: Lobster;
  padding: 1vh;
  font-weight: lighter;
  letter-spacing: 2px;
  text-shadow: 1px 1px 10px #ffffff;

  h1{
    font-size: 6vh;
  }
  h2{
    font-size: 4vh;
  }
  h3{
    font-size: 3vh;
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.onoffswitch {
  margin-top: 20px;
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 17px;
  padding: 0;
  line-height: 17px;
  border: 2px solid #E3E3E3;
  border-radius: 17px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 17px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 21px;
  border: 2px solid #E3E3E3;
  border-radius: 17px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #49E845;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #49E845;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

.formgroup{

}
