<div style="text-align: center;">
  <br>
  <div style="margin-top: 30px;">
    <h1>Witamy w Pizzerii Alpaczino!</h1>

  </div>

  <div style="margin-top: 30px;">
    <h2>Środa Wielkopolska</h2>
  </div>
  <div style="margin-top: 10px;">
    <h2>ul. Co Ja Pacze 1</h2>
  </div>
  <div style="margin-top: 10px;">
    <h2>Tel. 555-555-555</h2>
  </div>
</div>

<div style="position:fixed; padding:5px; bottom:0px; right: 0px; margin-bottom: 2vh; margin-right: 2vw;">
  <img class="navi-icon" routerLink="/menu" src="./assets/logo.png" style="height: 15vh">
</div>
