* {
  margin: 10px;
}

.container{
  background-color: #70009a;
}

.purpleHorizon{
  margin-left: 20px;
}

table.purpleHorizon {
  margin-top: 10px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border: 3px solid #c90085;
  background-color: rgba(255, 0, 180, 0.2);
  text-align: left;
  border-collapse: collapse;
}
table.purpleHorizon td, table.purpleHorizon th {
  padding: 5px;
  border: 2px solid #c90085;
}
table.purpleHorizon tbody td {
  font-size: 14px;
  color: #FFFFFF;
}
table.purpleHorizon tr:nth-child(even) {
  background: rgba(204, 59, 252, 0.3);
}
table.purpleHorizon thead {
  background: rgba(204, 59, 252, 0.3);
  border-bottom: 3px solid #c90085;
}
table.purpleHorizon thead th {
  font-size: 16px;
  color: #FFFFFF;
  text-align: left;
  border-left: 3px solid #c90085;
}
table.purpleHorizon thead th:first-child {
  border-left: none;
}

table.purpleHorizon tfoot td {
  font-size: 13px;
}
table.purpleHorizon tfoot .links {
  text-align: right;
}
table.purpleHorizon tfoot .links a{
  display: inline-block;
  background: #792396;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

h1{
  display: block;
  color: #ffffff;
  vertical-align: middle;
  display: inline-block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  display: inline;
  font-size: 4vh;
}

h2{
  display: block;
  color: #ffffff;
  vertical-align: middle;
  display: inline-block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  display: inline;
  font-size: 3vh;
}

h3{
  display: block;
  color: #ffffff;
  display: inline-block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
  display: inline;
  font-size: 2vh;
}

.ordercontainer {
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 4vh;
  height: 3vh;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  font-family: Lobster;
  letter-spacing: 2px;
  text-shadow: 1px 1px 10px #ff43cc;
  &:hover{
    text-shadow: 2px 2px 15px #ff1600;
  }
}

.menu-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 15px;
  border: 0;
  background: #e27eff;
  color: #4d0070;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 5px;
  font-weight: lighter;
  font-size: 3vh;
  transition: 0.4s all;

  &:hover{
    box-shadow: 0px 0px 15px #4a004e;
  }
}

.status-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  border: 0;
  background: #e27eff;
  color: #4d0070;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.7vh;
  transition: 0.4s all;

  &:hover{
    box-shadow: 0px 0px 15px #ff00d4;
  }
}
